# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=outages
# Port 5433 is used because docker-compose exposes the DB on 5433 to avoid conflicts with local PostgreSQL
DB_PORT=5433

# Grafana Configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
